<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BTC</key>
	<dict>
		<key>name</key>
		<string>Bitcoin</string>
		<key>type</key>
		<string>crypto</string>
	</dict>
	<key>ZWD</key>
	<dict>
		<key>name</key>
		<string>Zimbabwe dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>XUA</key>
	<dict>
		<key>name</key>
		<string>ADB Unit of Account</string>
		<key>type</key>
		<string>Unit of Account</string>
	</dict>
	<key>XSU</key>
	<dict>
		<key>name</key>
		<string>SUCRE</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>XPT</key>
	<dict>
		<key>name</key>
		<string>Platinum</string>
		<key>type</key>
		<string>one troy ounce</string>
	</dict>
	<key>XFU</key>
	<dict>
		<key>name</key>
		<string>UIC franc</string>
		<key>type</key>
		<string>special settlement currency</string>
	</dict>
	<key>XDR</key>
	<dict>
		<key>name</key>
		<string>Special drawing rights</string>
		<key>type</key>
		<string>foreing exchange reserve asset</string>
	</dict>
	<key>XBD</key>
	<dict>
		<key>name</key>
		<string>Europen Unit of Account 17</string>
		<key>type</key>
		<string>bond market unit</string>
	</dict>
	<key>XBC</key>
	<dict>
		<key>name</key>
		<string>European Unit of Account 9</string>
		<key>type</key>
		<string>bond market unit</string>
	</dict>
	<key>XBB</key>
	<dict>
		<key>name</key>
		<string>Europen Monetary Unit</string>
		<key>type</key>
		<string>bond market unit</string>
	</dict>
	<key>XBA</key>
	<dict>
		<key>name</key>
		<string>European Composite Unit</string>
		<key>type</key>
		<string>bond market unit</string>
	</dict>
	<key>XAU</key>
	<dict>
		<key>name</key>
		<string>Gold</string>
		<key>type</key>
		<string>one troy ounce</string>
	</dict>
	<key>XAG</key>
	<dict>
		<key>name</key>
		<string>Silver</string>
		<key>type</key>
		<string>one troy ounce</string>
	</dict>
	<key>UYI</key>
	<dict>
		<key>name</key>
		<string>Uruguay Peso en Unidades</string>
		<key>type</key>
		<string>funds code</string>
	</dict>
	<key>USS</key>
	<dict>
		<key>name</key>
		<string>United States dollar</string>
		<key>type</key>
		<string>funds code</string>
	</dict>
	<key>USN</key>
	<dict>
		<key>name</key>
		<string>United States dollar (next day)</string>
		<key>type</key>
		<string>funds code</string>
	</dict>
	<key>MXV</key>
	<dict>
		<key>name</key>
		<string>Mexican Unidad de Inversion</string>
		<key>type</key>
		<string>funds code</string>
	</dict>
	<key>COU</key>
	<dict>
		<key>name</key>
		<string>Unidad de Valor Real</string>
		<key>type</key>
		<string>funds code</string>
	</dict>
	<key>CLF</key>
	<dict>
		<key>name</key>
		<string>Unidad de Fomento</string>
		<key>type</key>
		<string>funds code</string>
	</dict>
	<key>CHW</key>
	<dict>
		<key>name</key>
		<string>WIR Franc</string>
		<key>type</key>
		<string>complementary currency</string>
	</dict>
	<key>BOV</key>
	<dict>
		<key>name</key>
		<string>Bolivian Mvdol</string>
		<key>type</key>
		<string>funds code</string>
	</dict>
	<key>BYR</key>
	<dict>
		<key>name</key>
		<string>Belarusian ruble</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>CHE</key>
	<dict>
		<key>name</key>
		<string>WIR Euro</string>
		<key>type</key>
		<string>complementary currency</string>
	</dict>
	<key>AZN</key>
	<dict>
		<key>name</key>
		<string>Azerbaijani manat</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>ZMW</key>
	<dict>
		<key>name</key>
		<string>Zambian kwacha</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>ZAR</key>
	<dict>
		<key>name</key>
		<string>South African rand</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>YER</key>
	<dict>
		<key>name</key>
		<string>Yemeni rial</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>XPF</key>
	<dict>
		<key>name</key>
		<string>CFP franc (franc pacifique)</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>XOF</key>
	<dict>
		<key>name</key>
		<string>CFA franc BCEAO</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>XCD</key>
	<dict>
		<key>name</key>
		<string>East Caribbean dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>XAF</key>
	<dict>
		<key>name</key>
		<string>CFA franc BEAC</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>WST</key>
	<dict>
		<key>name</key>
		<string>Samoan tala</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>VUV</key>
	<dict>
		<key>name</key>
		<string>Vanuatu vatu</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>VND</key>
	<dict>
		<key>name</key>
		<string>Vietnamese dong</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>VEF</key>
	<dict>
		<key>name</key>
		<string>Venezuelan bolívar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>UZS</key>
	<dict>
		<key>name</key>
		<string>Uzbekistan som</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>UYU</key>
	<dict>
		<key>name</key>
		<string>Uruguayan pese</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>USD</key>
	<dict>
		<key>name</key>
		<string>United States dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>UGX</key>
	<dict>
		<key>name</key>
		<string>Ugandan shilling</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>UAH</key>
	<dict>
		<key>name</key>
		<string>Ukrainian hryvnia</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>TZS</key>
	<dict>
		<key>name</key>
		<string>Tanzanian shilling</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>TWD</key>
	<dict>
		<key>name</key>
		<string>New Taiwan dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>TTD</key>
	<dict>
		<key>name</key>
		<string>Trinidad and Tobago dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>TRY</key>
	<dict>
		<key>name</key>
		<string>Turkish lira</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>TOP</key>
	<dict>
		<key>name</key>
		<string>Tongan pa&apos;anga</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>TND</key>
	<dict>
		<key>name</key>
		<string>Tunisian dinar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>TMT</key>
	<dict>
		<key>name</key>
		<string>Turkmenistani manat</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>TJS</key>
	<dict>
		<key>name</key>
		<string>Tajikistani somoni</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>THB</key>
	<dict>
		<key>name</key>
		<string>Thai baht</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SZL</key>
	<dict>
		<key>name</key>
		<string>Swazi lilangeni</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SYP</key>
	<dict>
		<key>name</key>
		<string>Syrian pound</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>STD</key>
	<dict>
		<key>name</key>
		<string>São Tomé and Príncipe dobra</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SSP</key>
	<dict>
		<key>name</key>
		<string>South Sudanese pound</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SRD</key>
	<dict>
		<key>name</key>
		<string>Surinamese dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SOS</key>
	<dict>
		<key>name</key>
		<string>Somali shilling</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SLL</key>
	<dict>
		<key>name</key>
		<string>Sierra Leonean leone</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SHP</key>
	<dict>
		<key>name</key>
		<string>Saint Helena pound</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SGD</key>
	<dict>
		<key>name</key>
		<string>Singapore dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SEK</key>
	<dict>
		<key>name</key>
		<string>Swedish krona</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SDG</key>
	<dict>
		<key>name</key>
		<string>Sudanese pound</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SCR</key>
	<dict>
		<key>name</key>
		<string>Seychelles rupee</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SBD</key>
	<dict>
		<key>name</key>
		<string>Solomon Islands dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>SAR</key>
	<dict>
		<key>name</key>
		<string>Saudi riyal</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>RWF</key>
	<dict>
		<key>name</key>
		<string>Rwandan franc</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>RUB</key>
	<dict>
		<key>name</key>
		<string>Russian ruble</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>RSD</key>
	<dict>
		<key>name</key>
		<string>Serbian dinar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>RON</key>
	<dict>
		<key>name</key>
		<string>Romanian new leu</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>QAR</key>
	<dict>
		<key>name</key>
		<string>Qatari riyal</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>PYG</key>
	<dict>
		<key>name</key>
		<string>Paraguayan guarani</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>PLN</key>
	<dict>
		<key>name</key>
		<string>Polish złoty</string>
		<key>type</key>
		<string>curency</string>
	</dict>
	<key>PKR</key>
	<dict>
		<key>name</key>
		<string>Pakistani rupee</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>PHP</key>
	<dict>
		<key>name</key>
		<string>Philippine peso</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>PGK</key>
	<dict>
		<key>name</key>
		<string>Papua New Guinean kina</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>PEN</key>
	<dict>
		<key>name</key>
		<string>Peruvian nuevo sol</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>PAB</key>
	<dict>
		<key>name</key>
		<string>Panamanian balboa</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>OMR</key>
	<dict>
		<key>name</key>
		<string>Omani rial</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>NZD</key>
	<dict>
		<key>name</key>
		<string>New Zealand dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>NPR</key>
	<dict>
		<key>name</key>
		<string>Nepalese rupee</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>NOK</key>
	<dict>
		<key>name</key>
		<string>Norwegian krone</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>NIO</key>
	<dict>
		<key>name</key>
		<string>Nicaraguan córdoba</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>NGN</key>
	<dict>
		<key>name</key>
		<string>Nigerian naira</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>NAD</key>
	<dict>
		<key>name</key>
		<string>Namibian dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MZN</key>
	<dict>
		<key>name</key>
		<string>Mozambican metical</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MYR</key>
	<dict>
		<key>name</key>
		<string>Malaysian ringgit</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MXN</key>
	<dict>
		<key>name</key>
		<string>Mexican peso</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MWK</key>
	<dict>
		<key>name</key>
		<string>Malawian kwacha</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MVR</key>
	<dict>
		<key>name</key>
		<string>Maldivian rufiyaa</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MUR</key>
	<dict>
		<key>name</key>
		<string>Mauritian rupee</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MRO</key>
	<dict>
		<key>name</key>
		<string>Mauritanian ouguiya</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MOP</key>
	<dict>
		<key>name</key>
		<string>Macanese pataca</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MNT</key>
	<dict>
		<key>name</key>
		<string>Mongolian tugrik</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MMK</key>
	<dict>
		<key>name</key>
		<string>Myanma kyat</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MKD</key>
	<dict>
		<key>name</key>
		<string>Macedonian denar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MGA</key>
	<dict>
		<key>name</key>
		<string>Malagasy ariary</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MDL</key>
	<dict>
		<key>name</key>
		<string>Moldovan leu</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>MAD</key>
	<dict>
		<key>name</key>
		<string>Moroccan dirham</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>LYD</key>
	<dict>
		<key>name</key>
		<string>Libyan dinar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>LTL</key>
	<dict>
		<key>name</key>
		<string>Lithuanian litas</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>LSL</key>
	<dict>
		<key>name</key>
		<string>Lesotho loti</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>LRD</key>
	<dict>
		<key>name</key>
		<string>Liberian dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>LKR</key>
	<dict>
		<key>name</key>
		<string>Sri Lankan rupee</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>LBP</key>
	<dict>
		<key>name</key>
		<string>Lebanese pound</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>LAK</key>
	<dict>
		<key>name</key>
		<string>Lao kip</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>KZT</key>
	<dict>
		<key>name</key>
		<string>Kazakhstani tengi</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>KYD</key>
	<dict>
		<key>name</key>
		<string>Cayman Islands dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>KWD</key>
	<dict>
		<key>name</key>
		<string>Kuwaiti dinar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>KRW</key>
	<dict>
		<key>name</key>
		<string>South Korean Won</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>KPW</key>
	<dict>
		<key>name</key>
		<string>North Korean Won</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>KMF</key>
	<dict>
		<key>name</key>
		<string>Comoro franc</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>KHR</key>
	<dict>
		<key>name</key>
		<string>Cambodian riel</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>KGS</key>
	<dict>
		<key>name</key>
		<string>Kyrgyzstani som</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>KES</key>
	<dict>
		<key>name</key>
		<string>Kenyan shilling</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>JPY</key>
	<dict>
		<key>name</key>
		<string>Japanese yen</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>JOD</key>
	<dict>
		<key>name</key>
		<string>Jordanian inar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>JMD</key>
	<dict>
		<key>name</key>
		<string>Jamaican dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>ISK</key>
	<dict>
		<key>name</key>
		<string>Icelandic króna</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>IRR</key>
	<dict>
		<key>name</key>
		<string>Iranian rial</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>IQD</key>
	<dict>
		<key>name</key>
		<string>Iraqi dinar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>INR</key>
	<dict>
		<key>name</key>
		<string>Indian rupee</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>ILS</key>
	<dict>
		<key>name</key>
		<string>Israeli new shekel</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>IDR</key>
	<dict>
		<key>name</key>
		<string>Indonesian rupiah</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>HUF</key>
	<dict>
		<key>name</key>
		<string>Hungarian forint</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>HTG</key>
	<dict>
		<key>name</key>
		<string>Haitian gourde</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>HRK</key>
	<dict>
		<key>name</key>
		<string>Croatian kuna</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>HNL</key>
	<dict>
		<key>name</key>
		<string>Honduran lempira</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>HKD</key>
	<dict>
		<key>name</key>
		<string>Hong Kong dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>GYD</key>
	<dict>
		<key>name</key>
		<string>Guyanese dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>GTQ</key>
	<dict>
		<key>name</key>
		<string>Guatemalan quetzal</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>GNF</key>
	<dict>
		<key>name</key>
		<string>Guinean franc</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>GMD</key>
	<dict>
		<key>name</key>
		<string>Gambian dalasi</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>GIP</key>
	<dict>
		<key>name</key>
		<string>Gibraltar pound</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>GHS</key>
	<dict>
		<key>name</key>
		<string>Ghanaian cedi</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>GEL</key>
	<dict>
		<key>name</key>
		<string>Georgian Iari</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>GBP</key>
	<dict>
		<key>name</key>
		<string>Pound sterling</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>FKP</key>
	<dict>
		<key>name</key>
		<string>Falkland Islands pound</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>FJD</key>
	<dict>
		<key>name</key>
		<string>Fiji dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>EUR</key>
	<dict>
		<key>name</key>
		<string>Euro</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>ETB</key>
	<dict>
		<key>name</key>
		<string>Ethiopian birr</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>ERN</key>
	<dict>
		<key>name</key>
		<string>Eritrean nakfa</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>EGP</key>
	<dict>
		<key>name</key>
		<string>Egyptian pound</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>DZD</key>
	<dict>
		<key>name</key>
		<string>Algerian dinar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>DOP</key>
	<dict>
		<key>name</key>
		<string>Dominican peso</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>DKK</key>
	<dict>
		<key>name</key>
		<string>Danish krone</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>DJF</key>
	<dict>
		<key>name</key>
		<string>Djiboutian franc</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>CZK</key>
	<dict>
		<key>name</key>
		<string>Czech krone</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>CVE</key>
	<dict>
		<key>name</key>
		<string>Cape Verde escudo</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>CUP</key>
	<dict>
		<key>name</key>
		<string>Cuban peso</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>CUC</key>
	<dict>
		<key>name</key>
		<string>Cuban convertible peso</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>CRC</key>
	<dict>
		<key>name</key>
		<string>Costa Rican colon</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>COP</key>
	<dict>
		<key>name</key>
		<string>Colombian peso</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>CNY</key>
	<dict>
		<key>name</key>
		<string>Chinese yuan</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>CLP</key>
	<dict>
		<key>name</key>
		<string>Chilean peso</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>CHF</key>
	<dict>
		<key>name</key>
		<string>Swiss franc</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>CDF</key>
	<dict>
		<key>name</key>
		<string>Congolese franc</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>CAD</key>
	<dict>
		<key>name</key>
		<string>Canadian dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BZD</key>
	<dict>
		<key>name</key>
		<string>Belize dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BWP</key>
	<dict>
		<key>name</key>
		<string>Botswana pula</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BTN</key>
	<dict>
		<key>name</key>
		<string>Bhutanese ngultrum</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BSD</key>
	<dict>
		<key>name</key>
		<string>Bahamian dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BRL</key>
	<dict>
		<key>name</key>
		<string>Brazilian real</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BOB</key>
	<dict>
		<key>name</key>
		<string>Boliviano</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BND</key>
	<dict>
		<key>name</key>
		<string>Brunei dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BMD</key>
	<dict>
		<key>name</key>
		<string>Bermudian dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BIF</key>
	<dict>
		<key>name</key>
		<string>Burundian franc</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BHD</key>
	<dict>
		<key>name</key>
		<string>Bahraini dinar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BGN</key>
	<dict>
		<key>name</key>
		<string>Bulgarian lev</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BDT</key>
	<dict>
		<key>name</key>
		<string>Bangladeshi taka</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BBD</key>
	<dict>
		<key>name</key>
		<string>Barbados dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>BAM</key>
	<dict>
		<key>name</key>
		<string>Bosnia and Herzegovina convertible mark</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>AWG</key>
	<dict>
		<key>name</key>
		<string>Aruban florin</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>AUD</key>
	<dict>
		<key>name</key>
		<string>Australian dollar</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>ARS</key>
	<dict>
		<key>name</key>
		<string>Argentine pesa</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>AOA</key>
	<dict>
		<key>name</key>
		<string>Angolan kwanza</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>ANG</key>
	<dict>
		<key>name</key>
		<string>Netherlands Antillean guilder</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>AMD</key>
	<dict>
		<key>name</key>
		<string>Armenian dram</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>AED</key>
	<dict>
		<key>name</key>
		<string>United Arab Emirates</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>AFN</key>
	<dict>
		<key>name</key>
		<string>Afghan afghani</string>
		<key>type</key>
		<string>currency</string>
	</dict>
	<key>ALL</key>
	<dict>
		<key>name</key>
		<string>Albanian lek</string>
		<key>type</key>
		<string>currency</string>
	</dict>
</dict>
</plist>
