<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>AED</string>
		<key>name</key>
		<string>dírham de los Emiratos Árabes Unidos</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AFN</string>
		<key>name</key>
		<string>afgani</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ALL</string>
		<key>name</key>
		<string>lek</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AMD</string>
		<key>name</key>
		<string>dram</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ANG</string>
		<key>name</key>
		<string>florín antillano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AOA</string>
		<key>name</key>
		<string>kuanza</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ARS</string>
		<key>name</key>
		<string>peso argentino</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AUD</string>
		<key>name</key>
		<string>dólar australiano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AWG</string>
		<key>name</key>
		<string>florín arubeño</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AZN</string>
		<key>name</key>
		<string>manat azerbaiyano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BAM</string>
		<key>name</key>
		<string>marco convertible de Bosnia y Herzegovina</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BBD</string>
		<key>name</key>
		<string>dólar barbadense</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BDT</string>
		<key>name</key>
		<string>taka</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BGN</string>
		<key>name</key>
		<string>lev búlgaro</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BHD</string>
		<key>name</key>
		<string>dinar bahreiní</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BIF</string>
		<key>name</key>
		<string>franco burundés</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BMD</string>
		<key>name</key>
		<string>dólar bermudeño</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BND</string>
		<key>name</key>
		<string>dólar bruneano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BOB</string>
		<key>name</key>
		<string>boliviano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BRL</string>
		<key>name</key>
		<string>real brasileño</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BSD</string>
		<key>name</key>
		<string>dólar bahameño</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BTC</string>
		<key>name</key>
		<string>Bitcoin</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BTN</string>
		<key>name</key>
		<string>gultrum</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BWP</string>
		<key>name</key>
		<string>pula</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BYN</string>
		<key>name</key>
		<string>rublo bielorruso</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BZD</string>
		<key>name</key>
		<string>dólar beliceño</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CAD</string>
		<key>name</key>
		<string>dólar canadiense</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CDF</string>
		<key>name</key>
		<string>franco congoleño</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CHF</string>
		<key>name</key>
		<string>franco suizo</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CLF</string>
		<key>name</key>
		<string>unidad de fomento chilena</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CLP</string>
		<key>name</key>
		<string>peso chileno</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CNH</string>
		<key>name</key>
		<string>yuan chino (extracontinental)</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CNY</string>
		<key>name</key>
		<string>yuan</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>COP</string>
		<key>name</key>
		<string>peso colombiano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CRC</string>
		<key>name</key>
		<string>colón costarricense</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CUC</string>
		<key>name</key>
		<string>peso cubano convertible</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CUP</string>
		<key>name</key>
		<string>peso cubano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CVE</string>
		<key>name</key>
		<string>escudo de Cabo Verde</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CZK</string>
		<key>name</key>
		<string>corona checa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DJF</string>
		<key>name</key>
		<string>franco yibutiano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DKK</string>
		<key>name</key>
		<string>corona danesa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DOP</string>
		<key>name</key>
		<string>peso dominicano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DZD</string>
		<key>name</key>
		<string>dinar argelino</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>EGP</string>
		<key>name</key>
		<string>libra egipcia</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ERN</string>
		<key>name</key>
		<string>nakfa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ETB</string>
		<key>name</key>
		<string>bir</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>EUR</string>
		<key>name</key>
		<string>euro</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>FJD</string>
		<key>name</key>
		<string>dólar fiyiano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>FKP</string>
		<key>name</key>
		<string>libra malvinense</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GBP</string>
		<key>name</key>
		<string>libra esterlina</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GEL</string>
		<key>name</key>
		<string>lari</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GGP</string>
		<key>name</key>
		<string>Guernsey Pound</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GHS</string>
		<key>name</key>
		<string>cedi</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GIP</string>
		<key>name</key>
		<string>libra gibraltareña</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GMD</string>
		<key>name</key>
		<string>dalasi</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GNF</string>
		<key>name</key>
		<string>franco guineano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GTQ</string>
		<key>name</key>
		<string>quetzal guatemalteco</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GYD</string>
		<key>name</key>
		<string>dólar guyanés</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HKD</string>
		<key>name</key>
		<string>dólar hongkonés</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HNL</string>
		<key>name</key>
		<string>lempira hondureño</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HRK</string>
		<key>name</key>
		<string>kuna</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HTG</string>
		<key>name</key>
		<string>gourde haitiano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HUF</string>
		<key>name</key>
		<string>forinto húngaro</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IDR</string>
		<key>name</key>
		<string>rupia indonesia</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ILS</string>
		<key>name</key>
		<string>nuevo séquel israelí</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IMP</string>
		<key>name</key>
		<string>Manx pound</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>INR</string>
		<key>name</key>
		<string>rupia india</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IQD</string>
		<key>name</key>
		<string>dinar iraquí</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IRR</string>
		<key>name</key>
		<string>rial iraní</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ISK</string>
		<key>name</key>
		<string>corona islandesa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JEP</string>
		<key>name</key>
		<string>Jersey pound</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JMD</string>
		<key>name</key>
		<string>dólar jamaicano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JOD</string>
		<key>name</key>
		<string>dinar jordano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JPY</string>
		<key>name</key>
		<string>yen</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KES</string>
		<key>name</key>
		<string>chelín keniano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KGS</string>
		<key>name</key>
		<string>som</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KHR</string>
		<key>name</key>
		<string>riel</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KMF</string>
		<key>name</key>
		<string>franco comorense</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KPW</string>
		<key>name</key>
		<string>won norcoreano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KRW</string>
		<key>name</key>
		<string>won surcoreano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KWD</string>
		<key>name</key>
		<string>dinar kuwaití</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KYD</string>
		<key>name</key>
		<string>dólar de las Islas Caimán</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KZT</string>
		<key>name</key>
		<string>tenge kazako</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LAK</string>
		<key>name</key>
		<string>kip</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LBP</string>
		<key>name</key>
		<string>libra libanesa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LKR</string>
		<key>name</key>
		<string>rupia esrilanquesa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LRD</string>
		<key>name</key>
		<string>dólar liberiano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LSL</string>
		<key>name</key>
		<string>loti lesothense</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LYD</string>
		<key>name</key>
		<string>dinar libio</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MAD</string>
		<key>name</key>
		<string>dírham marroquí</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MDL</string>
		<key>name</key>
		<string>leu moldavo</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MGA</string>
		<key>name</key>
		<string>ariari</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MKD</string>
		<key>name</key>
		<string>dinar macedonio</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MMK</string>
		<key>name</key>
		<string>kiat</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MNT</string>
		<key>name</key>
		<string>tugrik</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MOP</string>
		<key>name</key>
		<string>pataca de Macao</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MRO</string>
		<key>name</key>
		<string>uguiya (1973–2017)</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MRU</string>
		<key>name</key>
		<string>uguiya</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MUR</string>
		<key>name</key>
		<string>rupia mauriciana</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MVR</string>
		<key>name</key>
		<string>rufiya</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MWK</string>
		<key>name</key>
		<string>kuacha malauí</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MXN</string>
		<key>name</key>
		<string>peso mexicano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MYR</string>
		<key>name</key>
		<string>ringit</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MZN</string>
		<key>name</key>
		<string>metical</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NAD</string>
		<key>name</key>
		<string>dólar namibio</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NGN</string>
		<key>name</key>
		<string>naira</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NIO</string>
		<key>name</key>
		<string>córdoba oro</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NOK</string>
		<key>name</key>
		<string>corona noruega</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NPR</string>
		<key>name</key>
		<string>rupia nepalí</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NZD</string>
		<key>name</key>
		<string>dólar neozelandés</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>OMR</string>
		<key>name</key>
		<string>rial omaní</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PAB</string>
		<key>name</key>
		<string>balboa panameño</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PEN</string>
		<key>name</key>
		<string>sol peruano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PGK</string>
		<key>name</key>
		<string>kina</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PHP</string>
		<key>name</key>
		<string>peso filipino</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PKR</string>
		<key>name</key>
		<string>rupia pakistaní</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PLN</string>
		<key>name</key>
		<string>esloti</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PYG</string>
		<key>name</key>
		<string>guaraní paraguayo</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>QAR</string>
		<key>name</key>
		<string>rial catarí</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RON</string>
		<key>name</key>
		<string>leu rumano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RSD</string>
		<key>name</key>
		<string>dinar serbio</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RUB</string>
		<key>name</key>
		<string>rublo ruso</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RWF</string>
		<key>name</key>
		<string>franco ruandés</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SAR</string>
		<key>name</key>
		<string>rial saudí</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SBD</string>
		<key>name</key>
		<string>dólar salomonense</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SCR</string>
		<key>name</key>
		<string>rupia seychellense</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SDG</string>
		<key>name</key>
		<string>libra sudanesa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SEK</string>
		<key>name</key>
		<string>corona sueca</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SGD</string>
		<key>name</key>
		<string>dólar singapurense</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SHP</string>
		<key>name</key>
		<string>libra de Santa Elena</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SLL</string>
		<key>name</key>
		<string>leona</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SOS</string>
		<key>name</key>
		<string>chelín somalí</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SRD</string>
		<key>name</key>
		<string>dólar surinamés</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SSP</string>
		<key>name</key>
		<string>libra sursudanesa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>STD</string>
		<key>name</key>
		<string>dobra (1977–2017)</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>STN</string>
		<key>name</key>
		<string>dobra</string>
		<key>type</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SVC</string>
		<key>name</key>
		<string>colón salvadoreño</string>
		<key>type</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SYP</string>
		<key>name</key>
		<string>libra siria</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SZL</string>
		<key>name</key>
		<string>lilangeni</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>THB</string>
		<key>name</key>
		<string>bat</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TJS</string>
		<key>name</key>
		<string>somoni tayiko</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TMT</string>
		<key>name</key>
		<string>manat turcomano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TND</string>
		<key>name</key>
		<string>dinar tunecino</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TOP</string>
		<key>name</key>
		<string>paanga</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TRY</string>
		<key>name</key>
		<string>lira turca</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TTD</string>
		<key>name</key>
		<string>dólar de Trinidad y Tobago</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TWD</string>
		<key>name</key>
		<string>nuevo dólar taiwanés</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TZS</string>
		<key>name</key>
		<string>chelín tanzano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UAH</string>
		<key>name</key>
		<string>grivna</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UGX</string>
		<key>name</key>
		<string>chelín ugandés</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>USD</string>
		<key>name</key>
		<string>dólar estadounidense</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UYU</string>
		<key>name</key>
		<string>peso uruguayo</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UZS</string>
		<key>name</key>
		<string>sum</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VES</string>
		<key>name</key>
		<string>bolívar venezolano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VND</string>
		<key>name</key>
		<string>dong</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VUV</string>
		<key>name</key>
		<string>vatu</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>WST</string>
		<key>name</key>
		<string>tala</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XAF</string>
		<key>name</key>
		<string>franco CFA de África Central</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XAG</string>
		<key>name</key>
		<string>plata</string>
		<key>type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XAU</string>
		<key>name</key>
		<string>oro</string>
		<key>type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XCD</string>
		<key>name</key>
		<string>dólar del Caribe Oriental</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XDR</string>
		<key>name</key>
		<string>derechos especiales de giro</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XOF</string>
		<key>name</key>
		<string>franco CFA de África Occidental</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XPD</string>
		<key>name</key>
		<string>paladio</string>
		<key>type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XPF</string>
		<key>name</key>
		<string>franco CFP</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XPT</string>
		<key>name</key>
		<string>platino</string>
		<key>type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>YER</string>
		<key>name</key>
		<string>rial yemení</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ZAR</string>
		<key>name</key>
		<string>rand</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ZMW</string>
		<key>name</key>
		<string>kuacha zambiano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ZWL</string>
		<key>name</key>
		<string>dólar zimbabuense</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
