<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>code</key>
        <string>AED</string>
        <key>name</key>
        <string>United Arab Emirates</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>AFN</string>
        <key>name</key>
        <string>Afghan afghani</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>ALL</string>
        <key>name</key>
        <string>Albanian lek</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>AMD</string>
        <key>name</key>
        <string>Armenian dram</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>ANG</string>
        <key>name</key>
        <string>Netherlands Antillean guilder</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>AOA</string>
        <key>name</key>
        <string>Angolan kwanza</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>ARS</string>
        <key>name</key>
        <string>Argentine pesa</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>AUD</string>
        <key>name</key>
        <string>Australian dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>AWG</string>
        <key>name</key>
        <string>Aruban florin</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>AZN</string>
        <key>name</key>
        <string>Azerbaijani manat</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BAM</string>
        <key>name</key>
        <string>Bosnia and Herzegovina convertible mark</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BBD</string>
        <key>name</key>
        <string>Barbados dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BDT</string>
        <key>name</key>
        <string>Bangladeshi taka</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BGN</string>
        <key>name</key>
        <string>Bulgarian lev</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BHD</string>
        <key>name</key>
        <string>Bahraini dinar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BIF</string>
        <key>name</key>
        <string>Burundian franc</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BMD</string>
        <key>name</key>
        <string>Bermudian dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BND</string>
        <key>name</key>
        <string>Brunei dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BOB</string>
        <key>name</key>
        <string>Boliviano</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BRL</string>
        <key>name</key>
        <string>Brazilian real</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BSD</string>
        <key>name</key>
        <string>Bahamian dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BTC</string>
        <key>name</key>
        <string>Bitcoin</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BTN</string>
        <key>name</key>
        <string>Bhutanese ngultrum</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BWP</string>
        <key>name</key>
        <string>Botswana pula</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BYN</string>
        <key>name</key>
        <string>Belarusian ruble</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>BZD</string>
        <key>name</key>
        <string>Belize dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CAD</string>
        <key>name</key>
        <string>Canadian dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CDF</string>
        <key>name</key>
        <string>Congolese franc</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CHF</string>
        <key>name</key>
        <string>Swiss franc</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CLF</string>
        <key>name</key>
        <string>Chilean Unit of Account</string>
        <key>type</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CLP</string>
        <key>name</key>
        <string>Chilean peso</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CNH</string>
        <key>name</key>
        <string>Chinese Yuan Renminbi</string>
        <key>type</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CNY</string>
        <key>name</key>
        <string>Chinese yuan</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>COP</string>
        <key>name</key>
        <string>Colombian peso</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CRC</string>
        <key>name</key>
        <string>Costa Rican colon</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CUC</string>
        <key>name</key>
        <string>Cuban convertible peso</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CUP</string>
        <key>name</key>
        <string>Cuban peso</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CVE</string>
        <key>name</key>
        <string>Cape Verde escudo</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>CZK</string>
        <key>name</key>
        <string>Czech krone</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>DJF</string>
        <key>name</key>
        <string>Djiboutian franc</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>DKK</string>
        <key>name</key>
        <string>Danish krone</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>DOP</string>
        <key>name</key>
        <string>Dominican peso</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>DZD</string>
        <key>name</key>
        <string>Algerian dinar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>EGP</string>
        <key>name</key>
        <string>Egyptian pound</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>ERN</string>
        <key>name</key>
        <string>Eritrean nakfa</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>ETB</string>
        <key>name</key>
        <string>Ethiopian birr</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>EUR</string>
        <key>name</key>
        <string>Euro</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>FJD</string>
        <key>name</key>
        <string>Fiji dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>FKP</string>
        <key>name</key>
        <string>Falkland Islands pound</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>GBP</string>
        <key>name</key>
        <string>Pound sterling</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>GEL</string>
        <key>name</key>
        <string>Georgian Iari</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>GGP</string>
        <key>name</key>
        <string>Guernsey Pound</string>
        <key>type</key>
        <integer>2</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>GHS</string>
        <key>name</key>
        <string>Ghanaian cedi</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>GIP</string>
        <key>name</key>
        <string>Gibraltar pound</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>GMD</string>
        <key>name</key>
        <string>Gambian dalasi</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>GNF</string>
        <key>name</key>
        <string>Guinean franc</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>GTQ</string>
        <key>name</key>
        <string>Guatemalan quetzal</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>GYD</string>
        <key>name</key>
        <string>Guyanese dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>HKD</string>
        <key>name</key>
        <string>Hong Kong dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>HNL</string>
        <key>name</key>
        <string>Honduran lempira</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>HRK</string>
        <key>name</key>
        <string>Croatian kuna</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>HTG</string>
        <key>name</key>
        <string>Haitian gourde</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>HUF</string>
        <key>name</key>
        <string>Hungarian forint</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>IDR</string>
        <key>name</key>
        <string>Indonesian rupiah</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>ILS</string>
        <key>name</key>
        <string>Israeli new shekel</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>IMP</string>
        <key>name</key>
        <string>Manx pound</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>INR</string>
        <key>name</key>
        <string>Indian rupee</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>IQD</string>
        <key>name</key>
        <string>Iraqi dinar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>IRR</string>
        <key>name</key>
        <string>Iranian rial</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>ISK</string>
        <key>name</key>
        <string>Icelandic króna</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>JEP</string>
        <key>name</key>
        <string>Jersey pound</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>JMD</string>
        <key>name</key>
        <string>Jamaican dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>JOD</string>
        <key>name</key>
        <string>Jordanian inar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>JPY</string>
        <key>name</key>
        <string>Japanese yen</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>KES</string>
        <key>name</key>
        <string>Kenyan shilling</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>KGS</string>
        <key>name</key>
        <string>Kyrgyzstani som</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>KHR</string>
        <key>name</key>
        <string>Cambodian riel</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>KMF</string>
        <key>name</key>
        <string>Comoro franc</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>KPW</string>
        <key>name</key>
        <string>North Korean Won</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>KRW</string>
        <key>name</key>
        <string>South Korean Won</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>KWD</string>
        <key>name</key>
        <string>Kuwaiti dinar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>KYD</string>
        <key>name</key>
        <string>Cayman Islands dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>KZT</string>
        <key>name</key>
        <string>Kazakhstani tengi</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>LAK</string>
        <key>name</key>
        <string>Lao kip</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>LBP</string>
        <key>name</key>
        <string>Lebanese pound</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>LKR</string>
        <key>name</key>
        <string>Sri Lankan rupee</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>LRD</string>
        <key>name</key>
        <string>Liberian dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>LSL</string>
        <key>name</key>
        <string>Lesotho loti</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>LYD</string>
        <key>name</key>
        <string>Libyan dinar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MAD</string>
        <key>name</key>
        <string>Moroccan dirham</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MDL</string>
        <key>name</key>
        <string>Moldovan leu</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MGA</string>
        <key>name</key>
        <string>Malagasy ariary</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MKD</string>
        <key>name</key>
        <string>Macedonian denar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MMK</string>
        <key>name</key>
        <string>Myanma kyat</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MNT</string>
        <key>name</key>
        <string>Mongolian tugrik</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MOP</string>
        <key>name</key>
        <string>Macanese pataca</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MRO</string>
        <key>name</key>
        <string>Mauritanian ouguiya</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MRU</string>
        <key>name</key>
        <string>Mauritanian ouguiya</string>
        <key>type</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MUR</string>
        <key>name</key>
        <string>Mauritian rupee</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MVR</string>
        <key>name</key>
        <string>Maldivian rufiyaa</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MWK</string>
        <key>name</key>
        <string>Malawian kwacha</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MXN</string>
        <key>name</key>
        <string>Mexican peso</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MYR</string>
        <key>name</key>
        <string>Malaysian ringgit</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>MZN</string>
        <key>name</key>
        <string>Mozambican metical</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>NAD</string>
        <key>name</key>
        <string>Namibian dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>NGN</string>
        <key>name</key>
        <string>Nigerian naira</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>NIO</string>
        <key>name</key>
        <string>Nicaraguan córdoba</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>NOK</string>
        <key>name</key>
        <string>Norwegian krone</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>NPR</string>
        <key>name</key>
        <string>Nepalese rupee</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>NZD</string>
        <key>name</key>
        <string>New Zealand dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>OMR</string>
        <key>name</key>
        <string>Omani rial</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>PAB</string>
        <key>name</key>
        <string>Panamanian balboa</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>PEN</string>
        <key>name</key>
        <string>Peruvian nuevo sol</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>PGK</string>
        <key>name</key>
        <string>Papua New Guinean kina</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>PHP</string>
        <key>name</key>
        <string>Philippine peso</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>PKR</string>
        <key>name</key>
        <string>Pakistani rupee</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>PLN</string>
        <key>name</key>
        <string>Polish złoty</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>PYG</string>
        <key>name</key>
        <string>Paraguayan guarani</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>QAR</string>
        <key>name</key>
        <string>Qatari riyal</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>RON</string>
        <key>name</key>
        <string>Romanian new leu</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>RSD</string>
        <key>name</key>
        <string>Serbian dinar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>RUB</string>
        <key>name</key>
        <string>Russian ruble</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>RWF</string>
        <key>name</key>
        <string>Rwandan franc</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SAR</string>
        <key>name</key>
        <string>Saudi riyal</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SBD</string>
        <key>name</key>
        <string>Solomon Islands dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SCR</string>
        <key>name</key>
        <string>Seychelles rupee</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SDG</string>
        <key>name</key>
        <string>South Sudanese pound</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SEK</string>
        <key>name</key>
        <string>Swedish krona</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SGD</string>
        <key>name</key>
        <string>Singapore dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SHP</string>
        <key>name</key>
        <string>Saint Helena pound</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SLL</string>
        <key>name</key>
        <string>Sierra Leonean leone</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SOS</string>
        <key>name</key>
        <string>Somali shilling</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SRD</string>
        <key>name</key>
        <string>Surinamese dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SSP</string>
        <key>name</key>
        <string>South Sudanese pound</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>STD</string>
        <key>name</key>
        <string>São Tomé and Príncipe dobra</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>STN</string>
        <key>name</key>
        <string>São Tomé and Príncipe dobra</string>
        <key>type</key>
        <integer>4</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SVC</string>
        <key>name</key>
        <string>Salvadoran colón</string>
        <key>type</key>
        <integer>4</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SYP</string>
        <key>name</key>
        <string>Syrian pound</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>SZL</string>
        <key>name</key>
        <string>Swazi lilangeni</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>THB</string>
        <key>name</key>
        <string>Thai baht</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>TJS</string>
        <key>name</key>
        <string>Tajikistani somoni</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>TMT</string>
        <key>name</key>
        <string>Turkmenistani manat</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>TND</string>
        <key>name</key>
        <string>Tunisian dinar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>TOP</string>
        <key>name</key>
        <string>Tongan pa&apos;anga</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>TRY</string>
        <key>name</key>
        <string>Turkish lira</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>TTD</string>
        <key>name</key>
        <string>Trinidad and Tobago dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>TWD</string>
        <key>name</key>
        <string>New Taiwan dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>TZS</string>
        <key>name</key>
        <string>Tanzanian shilling</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>UAH</string>
        <key>name</key>
        <string>Ukrainian hryvnia</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>UGX</string>
        <key>name</key>
        <string>Ugandan shilling</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>USD</string>
        <key>name</key>
        <string>United States dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>UYU</string>
        <key>name</key>
        <string>Uruguayan pese</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>UZS</string>
        <key>name</key>
        <string>Uzbekistan som</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>VES</string>
        <key>name</key>
        <string>Venezuelan bolívar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>VND</string>
        <key>name</key>
        <string>Vietnamese dong</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>VUV</string>
        <key>name</key>
        <string>Vanuatu vatu</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>WST</string>
        <key>name</key>
        <string>Samoan tala</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>XAF</string>
        <key>name</key>
        <string>CFA franc BEAC</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>XAG</string>
        <key>name</key>
        <string>Silver Ounce</string>
        <key>type</key>
        <integer>5</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>XAU</string>
        <key>name</key>
        <string>Gold Ounce</string>
        <key>type</key>
        <integer>5</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>XCD</string>
        <key>name</key>
        <string>East Caribbean dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>XDR</string>
        <key>name</key>
        <string>Special drawing rights</string>
        <key>type</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>XOF</string>
        <key>name</key>
        <string>CFA franc BCEAO</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>XPD</string>
        <key>name</key>
        <string>Palladium Ounce</string>
        <key>type</key>
        <integer>5</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>XPF</string>
        <key>name</key>
        <string>CFP franc (franc pacifique)</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>XPT</string>
        <key>name</key>
        <string>Platinum Ounce</string>
        <key>type</key>
        <integer>5</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>YER</string>
        <key>name</key>
        <string>Yemeni rial</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>ZAR</string>
        <key>name</key>
        <string>South African rand</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>ZMW</string>
        <key>name</key>
        <string>Zambian kwacha</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>code</key>
        <string>ZWL</string>
        <key>name</key>
        <string>Zimbabwe dollar</string>
        <key>type</key>
        <integer>1</integer>
    </dict>
</array>
</plist>
