<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>rekening</string>
	<string>splitsen</string>
	<string>wiebetaaltwat</string>
	<string>wie</string>
	<string>betaalt</string>
	<string>wat</string>
	<string>splits</string>
	<string>betalen</string>
	<string>reis</string>
	<string>onkosten</string>
	<string>delen</string>
	<string>groep</string>
	<string>kosten</string>
</array>
</plist>
