<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>AED</string>
		<key>name</key>
		<string>VAE-Dirham</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AFN</string>
		<key>name</key>
		<string>Afghanischer Afghani</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ALL</string>
		<key>name</key>
		<string>Albanischer Lek</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AMD</string>
		<key>name</key>
		<string>Armenischer Dram</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ANG</string>
		<key>name</key>
		<string>Niederländische-Antillen-Gulden</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AOA</string>
		<key>name</key>
		<string>Angolanischer Kwanza</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ARS</string>
		<key>name</key>
		<string>Argentinischer Peso</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AUD</string>
		<key>name</key>
		<string>Australischer Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AWG</string>
		<key>name</key>
		<string>Aruba-Florin</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AZN</string>
		<key>name</key>
		<string>Aserbaidschan-Manat</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BAM</string>
		<key>name</key>
		<string>Konvertible Mark Bosnien und Herzegowina</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BBD</string>
		<key>name</key>
		<string>Barbados-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BDT</string>
		<key>name</key>
		<string>Bangladesch-Taka</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BGN</string>
		<key>name</key>
		<string>Bulgarischer Lew</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BHD</string>
		<key>name</key>
		<string>Bahrain-Dinar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BIF</string>
		<key>name</key>
		<string>Burundi-Franc</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BMD</string>
		<key>name</key>
		<string>Bermuda-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BND</string>
		<key>name</key>
		<string>Brunei-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BOB</string>
		<key>name</key>
		<string>Bolivianischer Boliviano</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BRL</string>
		<key>name</key>
		<string>Brasilianischer Real</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BSD</string>
		<key>name</key>
		<string>Bahamas-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BTC</string>
		<key>name</key>
		<string>Bitcoin</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BTN</string>
		<key>name</key>
		<string>Bhutan-Ngultrum</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BWP</string>
		<key>name</key>
		<string>Botswanischer Pula</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BYN</string>
		<key>name</key>
		<string>Weißrussischer Rubel</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BZD</string>
		<key>name</key>
		<string>Belize-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CAD</string>
		<key>name</key>
		<string>Kanadischer Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CDF</string>
		<key>name</key>
		<string>Kongo-Franc</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CHF</string>
		<key>name</key>
		<string>Schweizer Franken</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CLF</string>
		<key>name</key>
		<string>Chilenische Unidades de Fomento</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CLP</string>
		<key>name</key>
		<string>Chilenischer Peso</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CNH</string>
		<key>name</key>
		<string>Renminbi-Yuan (Offshore)</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CNY</string>
		<key>name</key>
		<string>Renminbi Yuan</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>COP</string>
		<key>name</key>
		<string>Kolumbianischer Peso</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CRC</string>
		<key>name</key>
		<string>Costa-Rica-Colón</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CUC</string>
		<key>name</key>
		<string>Kubanischer Peso (konvertibel)</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CUP</string>
		<key>name</key>
		<string>Kubanischer Peso</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CVE</string>
		<key>name</key>
		<string>Cabo-Verde-Escudo</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CZK</string>
		<key>name</key>
		<string>Tschechische Krone</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DJF</string>
		<key>name</key>
		<string>Dschibuti-Franc</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DKK</string>
		<key>name</key>
		<string>Dänische Krone</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DOP</string>
		<key>name</key>
		<string>Dominikanischer Peso</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DZD</string>
		<key>name</key>
		<string>Algerischer Dinar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>EGP</string>
		<key>name</key>
		<string>Ägyptisches Pfund</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ERN</string>
		<key>name</key>
		<string>Eritreischer Nakfa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ETB</string>
		<key>name</key>
		<string>Äthiopischer Birr</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>EUR</string>
		<key>name</key>
		<string>Euro</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>FJD</string>
		<key>name</key>
		<string>Fidschi-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>FKP</string>
		<key>name</key>
		<string>Falkland-Pfund</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GBP</string>
		<key>name</key>
		<string>Britisches Pfund</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GEL</string>
		<key>name</key>
		<string>Georgischer Lari</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GGP</string>
		<key>name</key>
		<string>Guernsey Pound</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GHS</string>
		<key>name</key>
		<string>Ghanaischer Cedi</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GIP</string>
		<key>name</key>
		<string>Gibraltar-Pfund</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GMD</string>
		<key>name</key>
		<string>Gambia-Dalasi</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GNF</string>
		<key>name</key>
		<string>Guinea-Franc</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GTQ</string>
		<key>name</key>
		<string>Guatemaltekischer Quetzal</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GYD</string>
		<key>name</key>
		<string>Guyana-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HKD</string>
		<key>name</key>
		<string>Hongkong-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HNL</string>
		<key>name</key>
		<string>Honduras-Lempira</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HRK</string>
		<key>name</key>
		<string>Kroatischer Kuna</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HTG</string>
		<key>name</key>
		<string>Haitianische Gourde</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HUF</string>
		<key>name</key>
		<string>Ungarischer Forint</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IDR</string>
		<key>name</key>
		<string>Indonesische Rupiah</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ILS</string>
		<key>name</key>
		<string>Israelischer Neuer Schekel</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IMP</string>
		<key>name</key>
		<string>Manx pound</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>INR</string>
		<key>name</key>
		<string>Indische Rupie</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IQD</string>
		<key>name</key>
		<string>Irakischer Dinar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IRR</string>
		<key>name</key>
		<string>Iranischer Rial</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ISK</string>
		<key>name</key>
		<string>Isländische Krone</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JEP</string>
		<key>name</key>
		<string>Jersey pound</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JMD</string>
		<key>name</key>
		<string>Jamaika-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JOD</string>
		<key>name</key>
		<string>Jordanischer Dinar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JPY</string>
		<key>name</key>
		<string>Japanischer Yen</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KES</string>
		<key>name</key>
		<string>Kenia-Schilling</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KGS</string>
		<key>name</key>
		<string>Kirgisischer Som</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KHR</string>
		<key>name</key>
		<string>Kambodschanischer Riel</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KMF</string>
		<key>name</key>
		<string>Komoren-Franc</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KPW</string>
		<key>name</key>
		<string>Nordkoreanischer Won</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KRW</string>
		<key>name</key>
		<string>Südkoreanischer Won</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KWD</string>
		<key>name</key>
		<string>Kuwait-Dinar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KYD</string>
		<key>name</key>
		<string>Kaiman-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KZT</string>
		<key>name</key>
		<string>Kasachischer Tenge</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LAK</string>
		<key>name</key>
		<string>Laotischer Kip</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LBP</string>
		<key>name</key>
		<string>Libanesisches Pfund</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LKR</string>
		<key>name</key>
		<string>Sri-Lanka-Rupie</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LRD</string>
		<key>name</key>
		<string>Liberianischer Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LSL</string>
		<key>name</key>
		<string>Loti</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LYD</string>
		<key>name</key>
		<string>Libyscher Dinar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MAD</string>
		<key>name</key>
		<string>Marokkanischer Dirham</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MDL</string>
		<key>name</key>
		<string>Moldau-Leu</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MGA</string>
		<key>name</key>
		<string>Madagaskar-Ariary</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MKD</string>
		<key>name</key>
		<string>Mazedonischer Denar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MMK</string>
		<key>name</key>
		<string>Myanmarischer Kyat</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MNT</string>
		<key>name</key>
		<string>Mongolischer Tögrög</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MOP</string>
		<key>name</key>
		<string>Macao-Pataca</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MRO</string>
		<key>name</key>
		<string>Mauretanischer Ouguiya (1973–2017)</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MRU</string>
		<key>name</key>
		<string>Mauretanischer Ouguiya</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MUR</string>
		<key>name</key>
		<string>Mauritius-Rupie</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MVR</string>
		<key>name</key>
		<string>Malediven-Rufiyaa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MWK</string>
		<key>name</key>
		<string>Malawi-Kwacha</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MXN</string>
		<key>name</key>
		<string>Mexikanischer Peso</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MYR</string>
		<key>name</key>
		<string>Malaysischer Ringgit</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MZN</string>
		<key>name</key>
		<string>Mosambikanischer Metical</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NAD</string>
		<key>name</key>
		<string>Namibia-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NGN</string>
		<key>name</key>
		<string>Nigerianischer Naira</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NIO</string>
		<key>name</key>
		<string>Nicaragua-Córdoba</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NOK</string>
		<key>name</key>
		<string>Norwegische Krone</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NPR</string>
		<key>name</key>
		<string>Nepalesische Rupie</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NZD</string>
		<key>name</key>
		<string>Neuseeland-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>OMR</string>
		<key>name</key>
		<string>Omanischer Rial</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PAB</string>
		<key>name</key>
		<string>Panamaischer Balboa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PEN</string>
		<key>name</key>
		<string>Peruanischer Sol</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PGK</string>
		<key>name</key>
		<string>Papua-neuguineischer Kina</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PHP</string>
		<key>name</key>
		<string>Philippinischer Peso</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PKR</string>
		<key>name</key>
		<string>Pakistanische Rupie</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PLN</string>
		<key>name</key>
		<string>Polnischer Złoty</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PYG</string>
		<key>name</key>
		<string>Paraguayischer Guaraní</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>QAR</string>
		<key>name</key>
		<string>Katar-Riyal</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RON</string>
		<key>name</key>
		<string>Rumänischer Leu</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RSD</string>
		<key>name</key>
		<string>Serbischer Dinar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RUB</string>
		<key>name</key>
		<string>Russischer Rubel</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RWF</string>
		<key>name</key>
		<string>Ruanda-Franc</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SAR</string>
		<key>name</key>
		<string>Saudi-Rial</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SBD</string>
		<key>name</key>
		<string>Salomonen-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SCR</string>
		<key>name</key>
		<string>Seychellen-Rupie</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SDG</string>
		<key>name</key>
		<string>Sudanesisches Pfund</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SEK</string>
		<key>name</key>
		<string>Schwedische Krone</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SGD</string>
		<key>name</key>
		<string>Singapur-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SHP</string>
		<key>name</key>
		<string>St.-Helena-Pfund</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SLL</string>
		<key>name</key>
		<string>Sierra-leonischer Leone</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SOS</string>
		<key>name</key>
		<string>Somalia-Schilling</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SRD</string>
		<key>name</key>
		<string>Suriname-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SSP</string>
		<key>name</key>
		<string>Südsudanesisches Pfund</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>STD</string>
		<key>name</key>
		<string>São-toméischer Dobra (1977–2017)</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>STN</string>
		<key>name</key>
		<string>São-toméischer Dobra</string>
		<key>type</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SVC</string>
		<key>name</key>
		<string>El Salvador Colon</string>
		<key>type</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SYP</string>
		<key>name</key>
		<string>Syrisches Pfund</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SZL</string>
		<key>name</key>
		<string>Swasiländischer Lilangeni</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>THB</string>
		<key>name</key>
		<string>Thailändischer Baht</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TJS</string>
		<key>name</key>
		<string>Tadschikistan-Somoni</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TMT</string>
		<key>name</key>
		<string>Turkmenistan-Manat</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TND</string>
		<key>name</key>
		<string>Tunesischer Dinar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TOP</string>
		<key>name</key>
		<string>Tongaischer Paʻanga</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TRY</string>
		<key>name</key>
		<string>Türkische Lira</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TTD</string>
		<key>name</key>
		<string>Trinidad-und-Tobago-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TWD</string>
		<key>name</key>
		<string>Neuer Taiwan-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TZS</string>
		<key>name</key>
		<string>Tansania-Schilling</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UAH</string>
		<key>name</key>
		<string>Ukrainische Hrywnja</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UGX</string>
		<key>name</key>
		<string>Uganda-Schilling</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>USD</string>
		<key>name</key>
		<string>US-Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UYU</string>
		<key>name</key>
		<string>Uruguayischer Peso</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UZS</string>
		<key>name</key>
		<string>Usbekistan-Sum</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VES</string>
		<key>name</key>
		<string>Venezolanischer Bolívar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VND</string>
		<key>name</key>
		<string>Vietnamesischer Dong</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VUV</string>
		<key>name</key>
		<string>Vanuatu-Vatu</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>WST</string>
		<key>name</key>
		<string>Samoanischer Tala</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XAF</string>
		<key>name</key>
		<string>CFA-Franc (BEAC)</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XAG</string>
		<key>name</key>
		<string>Unze Silber</string>
		<key>type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XAU</string>
		<key>name</key>
		<string>Unze Gold</string>
		<key>type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XCD</string>
		<key>name</key>
		<string>Ostkaribischer Dollar</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XDR</string>
		<key>name</key>
		<string>Sonderziehungsrechte</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XOF</string>
		<key>name</key>
		<string>CFA-Franc (BCEAO)</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XPD</string>
		<key>name</key>
		<string>Unze Palladium</string>
		<key>type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XPF</string>
		<key>name</key>
		<string>CFP-Franc</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>XPT</string>
		<key>name</key>
		<string>Unze Platin</string>
		<key>type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>YER</string>
		<key>name</key>
		<string>Jemen-Rial</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ZAR</string>
		<key>name</key>
		<string>Südafrikanischer Rand</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ZMW</string>
		<key>name</key>
		<string>Kwacha</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ZWL</string>
		<key>name</key>
		<string>Simbabwe-Dollar (2009)</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
