<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CurrencyConverter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CurrencyExchangeRates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EMC Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EMC2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>We all pay for Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>We all pay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Who is paying next.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WhoPayingUserDefaultsStoreInterface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>X-Rates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>380755FE19F9445700489ED4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>380D60FF1B299B93006F8AE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>380D61091B299B93006F8AE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3815BD791955CE9800A28316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3815BD981955CE9900A28316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3815BDB01955CFD400A28316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3815BDCA1955CFD400A28316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382B76DF1C398249000C203A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382B76E81C398249000C203A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38522E2218DB3F01007BDB3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38572AD1169D437B00969C62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>385F52D0191C2ADE0012773D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>385F52E6191C2C110012773D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>385F52FC191C2C360012773D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>387295F61A8D3DDB009B7BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>387296091A8D3DDB009B7BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>387758FD1923D3EE0027A7F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3877591C1923D3EE0027A7F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>388A327B1C11EDBD00F7459C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>388A32841C11EDBD00F7459C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3899F9A21955D12F00DE08C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3899F9BC1955D12F00DE08C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3899F9E41957130300DE08C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3899FA001957130400DE08C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38AD6E5D196FE90E000D21C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38AD6E7A196FE90F000D21C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38B6E0D01A28B62D009E69D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38B6E0EB1A28BBAB009E69D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38D785F118DC53C30074B670</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38E174681B009D31009F31E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38E174721B009D31009F31E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38E174871B009E44009F31E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38E174911B009E45009F31E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38FE87C4195721660008EE74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38FE87DE195721670008EE74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
