<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryDescription</key>
		<string>None</string>
		<key>categoryPictureFilename</key>
		<string></string>
		<key>categoryId</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Diner</string>
		<key>categoryPictureFilename</key>
		<string>Dinner-Green</string>
		<key>categoryId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Drinken</string>
		<key>categoryPictureFilename</key>
		<string>Drinks-Purple</string>
		<key>categoryId</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Brandstof</string>
		<key>categoryPictureFilename</key>
		<string>Fuel-Orange</string>
		<key>categoryId</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Boodschappen</string>
		<key>categoryPictureFilename</key>
		<string>Groceries-Red</string>
		<key>categoryId</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Hotel</string>
		<key>categoryPictureFilename</key>
		<string>Hotel-Red</string>
		<key>categoryId</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Tickets</string>
		<key>categoryPictureFilename</key>
		<string>Tickets-Green</string>
		<key>categoryId</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Huur</string>
		<key>categoryPictureFilename</key>
		<string>Rent-Orange</string>
		<key>categoryId</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Wellness</string>
		<key>categoryPictureFilename</key>
		<string>Spa-Blue</string>
		<key>categoryId</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Reizen</string>
		<key>categoryPictureFilename</key>
		<string>Travel-Yellow</string>
		<key>categoryId</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Diversen</string>
		<key>categoryPictureFilename</key>
		<string>Misc-Blue</string>
		<key>categoryId</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Cadeau</string>
		<key>categoryPictureFilename</key>
		<string>Present-Yellow</string>
		<key>categoryId</key>
		<integer>11</integer>
	</dict>
</array>
</plist>
