<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryDescription</key>
		<string>Nada</string>
		<key>categoryPictureFilename</key>
		<string></string>
		<key>categoryId</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Cena</string>
		<key>categoryPictureFilename</key>
		<string>Dinner-Orange</string>
		<key>categoryId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Tragos</string>
		<key>categoryPictureFilename</key>
		<string>Drinks-Yellow</string>
		<key>categoryId</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Combustible</string>
		<key>categoryPictureFilename</key>
		<string>Fuel-Yellow</string>
		<key>categoryId</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Compras</string>
		<key>categoryPictureFilename</key>
		<string>Groceries-Green</string>
		<key>categoryId</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Hotel</string>
		<key>categoryPictureFilename</key>
		<string>Hotel-Purple</string>
		<key>categoryId</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Entradas</string>
		<key>categoryPictureFilename</key>
		<string>Tickets-Blue</string>
		<key>categoryId</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Alquiler</string>
		<key>categoryPictureFilename</key>
		<string>Rent-Red</string>
		<key>categoryId</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Spa &amp; Relax</string>
		<key>categoryPictureFilename</key>
		<string>Spa-Orange</string>
		<key>categoryId</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Viaje</string>
		<key>categoryPictureFilename</key>
		<string>Travel-Blue</string>
		<key>categoryId</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Varios</string>
		<key>categoryPictureFilename</key>
		<string>Misc-Green</string>
		<key>categoryId</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>categoryDescription</key>
		<string>Regalo</string>
		<key>categoryPictureFilename</key>
		<string>Present-Red</string>
		<key>categoryId</key>
		<integer>11</integer>
	</dict>
</array>
</plist>
