<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165989347056-e79rcr72e0042c2r37ec4jvouv3h07h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165989347056-e79rcr72e0042c2r37ec4jvouv3h07h4</string>
	<key>API_KEY</key>
	<string>AIzaSyA72FiykrMbNH88ZEn0AODP4fbeVf-5gNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>165989347056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GreenHair.We-all-pay</string>
	<key>PROJECT_ID</key>
	<string>we-all-pay</string>
	<key>STORAGE_BUCKET</key>
	<string>we-all-pay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165989347056:ios:808c89df5abd2c78</string>
	<key>DATABASE_URL</key>
	<string>https://we-all-pay.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5354415674074435~7504388301</string>
</dict>
</plist>